* {
  box-sizing: border-box;
  font-family: 'NanumGothic';
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

@font-face {
  font-family: 'NanumGothic';
  src: url('../src/font/NanumGothic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NanumGothic';
  src: url('../src/font/NanumGothicBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'NanumGothic';
  src: url('../src/font/NanumGothicExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ONE_Mobile_POP';
  src: url('../src/font/ONE_Mobile_POP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}